@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1E1E1E;
  color: white;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.overlay-slick-hero {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    to right,
    #1E1E1E ,
    transparent 50%,
    #1E1E1E 
  );
}

.splide-pagination-page {
  width: 5px;   /* Set the width of the dots */
  height: 5px;  /* Set the height of the dots */
  margin: 4px;  /* Set the margin between the dots */
  border-radius: 50%;  /* Make the dots circular */
}

/* Change the active dot color */
.splide-pagination-page-active {
  background-color: red;  /* Change the background color of the active dot */
}

@keyframes loader-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  border-right-color: transparent;
  animation: loader-rotate 1s linear infinite;
}